@import "tailwindcss";
/* @config "../../tailwind.config.js"; */
@config "../tailwind.config.ts";
/* global.css */
@import "swiper/css";


:root {
  --color-primary-start: #899FCF;
  --color-primary-end: #433E78;
  --gradient-primary: linear-gradient(135deg, var(--color-primary-start), var(--color-primary-end));
}

.gradient-bg {
  background: var(--gradient-primary);
}

.text-gradient-primary {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}